In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import Image
import re
import collections
from tqdm.notebook import tqdm
from sklearn.feature_extraction.text import TfidfVectorizer

In [11]:
#tf-idf top 20 
res = pd.read_csv('../data/outputs/tfidf.csv')
res.head(20)

           Word       Score
0          data  106.504015
1       systems  105.793413
2      database  100.291114
3         based   72.235842
4        object   70.724734
5            3d   70.682343
6     databases   64.431865
7   information   59.490652
8   programming   58.022027
9           web   52.363498
10     modeling   52.348797
11        using   52.237372
12     oriented   49.656543
13        model   49.092200
14     language   45.209548
15   management   44.919903
16       mining   44.739751
17    knowledge   43.421383
18       models   39.641586
19   algorithms   39.620115

In [12]:
#autophrase top 20
ds = pd.read_csv('../data/outputs/quality.csv')
ds.head(20)

       Score         Word
0   0.706783     language
1   0.698478       design
2   0.697560  programming
3   0.692464     database
4   0.691457        range
5   0.690478        logic
6   0.690039  information
7   0.687767        model
8   0.685727          web
9   0.682463     approach
10  0.682083       object
11  0.674794   processing
12  0.673351     modeling
13  0.670285       camera
14  0.670008     analysis
15  0.669793    algorithm
16  0.669688   multimedia
17  0.667269    knowledge
18  0.667009        based
19  0.666842   technology

In [13]:
#multiplication top 20
mul = pd.read_csv('../data/outputs/multiplication.csv')
mul.head(20)

           Word      Score
0          data  70.939026
1       systems  70.128426
2      database  69.447972
3        object  48.240171
4         based  48.181938
5     databases  42.321665
6   information  41.050865
7   programming  40.473820
8            3d  39.651042
9           web  35.907053
10     modeling  35.249106
11        model  33.764003
12     oriented  32.689279
13     language  31.953346
14       mining  29.568816
15    knowledge  28.973723
16       design  26.428602
17        logic  26.204228
18       models  26.172939
19   algorithms  25.282141